<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sagar</title>
  </head>
  <body>
    <h2>Student Record</h2>
    <% record.forEach((item, i) => {  %>


      <div>

        <ul>

          <li> Student Name: <%= item.firstName  %>  <%= item.lastName  %> </li>

        </ul>


      </div>


    <%   });  %>
  </body>
</html>
